@charset "utf-8";

body{
    background-color: darkgray;
}
header{
    margin: -22px 0 0 -10px;
    width: 100%;
    padding: 20px;
    color: white;
    margin-bottom: 50px;
    text-align: center;
    background-color: black;
    
}
div{
    padding: 30px;
    text-align: center;
    color: white;
    background: radial-gradient(blue,darkblue);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0,0.5);
    width: 450px;
    margin: 20px auto;
}
#container{
    float: left;
    width: 50%;
    min-height: 842px;
}

#container1{
    float: right;
    width: 50%;
    min-height: 842px;
}
#container2{
    float: left;
    width: 50%;
    min-height: 680px;
}
#container3{
    float: right;
    width: 50%;
    min-height: 680px;
}
iframe{
    width: 450px;
    height: 400px;
}

.google-maps{
    width: 450px;
    padding: 50px;
}

select{
    text-align: center;
}

.container-output{
    width: 450px;
    padding: 50px;
}

#data-output{  
    text-align: left;
    max-width: 650px;
    min-height: 540px;
    max-height: 540px;
    overflow-y: auto;
} 
p{  
    margin: 20px 0 0 20px;
    padding-left: 20px;
}
b{
    color: red;
    text-decoration: underline;
}
span{
    tab-size: 8;
}
#data-cordinaten{
    height: 56px;
}
